In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [ ]:
df = pd.read_csv('hour.csv')
df = df[['hr', 'holiday','weekday','cnt']]
df.columns = ['hour', 'is_holiday', 'day_of_week','Bike_rides_count']

df['day_of_week'].replace([0,1,2,3,4,5,6],['Mon','Tue','Wed','Thu','Fri','Sat','Sun'],inplace=True)

df['is_holiday'].replace([0,1],['No','Yes'],inplace=True)

#df.is_holiday = df.is_holiday.astype('category')

In [ ]:
X = df.drop(columns= ['Bike_rides_count'])
y = df['Bike_rides_count']

In [ ]:
X = pd.get_dummies(X)
X

,hour,is_holiday_No,is_holiday_Yes,day_of_week_Fri,day_of_week_Mon,day_of_week_Sat,day_of_week_Sun,day_of_week_Thu,day_of_week_Tue,day_of_week_Wed
0,0,1,0,0,0,0,1,0,0,0
1,1,1,0,0,0,0,1,0,0,0
2,2,1,0,0,0,0,1,0,0,0
3,3,1,0,0,0,0,1,0,0,0
4,4,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
17374,19,1,0,0,0,0,0,0,1,0
17375,20,1,0,0,0,0,0,0,1,0
17376,21,1,0,0,0,0,0,0,1,0
17377,22,1,0,0,0,0,0,0,1,0
17378,23,1,0,0,0,0,0,0,1,0

In [ ]:
# loaded the linear regression module
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()


regressor.fit(X,y)

# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [ ]:
# Loading model to compare the results

model = pickle.load(open('model.pkl','rb'))

## calling the model to predict 
data =[]

item = [12, 'Yes','Sun']

# As the The training data was dummified one, so we have to pass the 
# test data in the same format ('hour','is_holiday','day_of_week')

data.append(item[0])

# is holiday
if item[1] == 'Yes':
    data.append(0)
    data.append(1)
else:
    data.append(1)
    data.append(0)
    
# fri, mon, sat , sun, thu, tue, wed
if item[2] == 'Fri':
    data.append(1)
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(0)

elif item[2] == 'Mon':
    data.append(0)
    data.append(1)
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(0)


elif item[2] == 'Sat':
    data.append(0)
    data.append(0)
    data.append(1)
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(0)

elif item[2] == 'Sun':
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(1)
    data.append(0)
    data.append(0)
    data.append(0)


elif item[2] == 'Thu':
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(1)
    data.append(0)
    data.append(0)

elif item[2] == 'Tue':
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(1)
    data.append(0)
else:
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(0)
    data.append(1)

print(data)

# this is single sample

print(int(model.predict([data])[0]))

[12, 0, 1, 0, 0, 0, 1, 0, 0, 0]
161

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"